
/* ----------------------------------------------------------------

 ==> Table Of Content

	01 Basics
	02 Buttons
	03 Header
	04 Banner
	05 About
	06 Service
	07 cta
	08 Works
	09 Counter
	10 Resume
	11 Testimonial
	12 Blog
	13 Contact
	14 Footer
	15 Top-control


---------------------------------------------------------------- */


/* ----------------------------------------------------------------
    [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #333333;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-weight: 600;
}
img{
    max-width: 100%;
    height: auto;
}
ul{
    padding: 0;
    list-style: none;
}
p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}
a:hover{
    text-decoration: none;
    outline: none;
}
.text_white{
    color: #fff;
}
.padding_0{
    padding: 0;
}
.gray_bg{
    background: #fff;
}
.dark_bg{
    background: #1d293e;
}
/* START PRELOADER DESIGN */
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.preloader.dark_preloader{
    background: #1d293e;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    z-index: 10000;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #7564e5;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.dark_preloader .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #7564e5;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/* END PRELOADER DESIGN */

/* Start Section-Padding */
.section_padding{
    padding: 100px 0;
}
.pb_70{
    padding-bottom: 70px;
}
/* End Section-Padding */

/* Start Section-Heading */
.section_heading{
    padding-bottom: 80px;
}
.section_heading h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: #222;
    margin-top: 5px;
    margin-bottom: 10px;
}
.section_heading h2 span{
    color: #7564e5;
    font-weight: 600;
}
.dark_bg .section_heading h2{
    color: #fff;
}
.dark_bg .section_heading p{
    color: #fff;
}
/* End Section-Heading */

/* ----------------------------------------------------------------
    [ End Basics ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 02 Start Buttons ]
-----------------------------------------------------------------*/
/* Start Btn-Style */
.main_btn{
    color: #fff;
    font-size: 13px;
    margin-top: 30px;
    text-transform: capitalize;
    padding: 20px 25px;
    letter-spacing: 0.6px;
    font-weight: 600;
    background: #7564e5;
    border-radius: 25px;
    line-height: 10px;
    border: 2px solid #7564e5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s;
}
.main_btn:hover{
    color: #7564e5;
    border: 2px solid #7564e5;
    background: #10101a;
}
.blog-info .blog_btn{
    padding: 20px 30px;
}
/* ----------------------------------------------------------------
    [ End Buttons ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 03 Start Header ]
-----------------------------------------------------------------*/
.navbar-default{
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.navbar-brand p{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}
.menu-top { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 }
.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color: #7564e5;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background-color: transparent;
}
.mobile-nav{
    display:none;
}
.navbar-default.menu-shrink {
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(25,25,25,0.1);
    padding: 10px 0;
    width: 100%;
    animation: fadeInDown 1s both 0.2s;
}
.navbar-default.dark_bg_menu.menu-shrink{
    background-color: #1d293e;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    width: 100%;
    animation: fadeInDown 1s both 0.2s;
}
.navbar-default.dark_bg_menu.menu-shrink li a{
    color: #fff !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.navbar-default.menu-shrink .navbar-brand p{
    color: #7564e5;
}
.navbar-default.menu-shrink li a{
    color: #333333 !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.navbar-default.menu-shrink li a:hover { color: #7564e5 !important }
.navbar-default.menu-shrink .navbar-nav>.active>a,
.navbar-default.menu-shrink .navbar-nav>.active>a:hover,
.navbar-default.menu-shrink .navbar-nav>.active>a:focus{
    color: #7564e5 !important;
    background-color: transparent;
}
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #7564e5 }
/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ 04 Start Banner ]
-----------------------------------------------------------------*/
.main_banner{
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_bg{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner_bg:before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 1, 90, 0.6);
}
.banner_content{
    margin-top: 270px;
}
.banner_content strong{
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
}
.banner_content h1{
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    margin: 15px 0 10px;
}
.banner_content h1 span .fw_600{
    font-weight: 600;
}
.banner_content h1 span .fw_300{
    font-weight: 600;
}
.banner_content p{
    color: #fff;
}
.banner-btn{
    margin-top: 40px;
}
.banner_btn{
    color: #fff;
    font-size: 13px;
    margin-top: 30px;
    text-transform: capitalize;
    padding: 15px 38px;
    letter-spacing: 0.5px;
    font-weight: 600;
    background: #7564e5;
    border-radius: 25px;
    line-height: 10px;
    border: 2px solid #7564e5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s;
}
.banner_btn:hover{
    color: #7564e5;
    border: 2px solid #7564e5;
    background: #10101a;
}
/* ----------------------------------------------------------------
    [ End Banner ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 05 Start About ]
-----------------------------------------------------------------*/
.about_image img{
    border: 12px solid #7564e5;
}
.about_content_area{
    margin-top: 25px;
}
.single_about h4{
    font-size: 32px;
    text-transform: capitalize;
    margin: 0 0 20px;
}
.single_about h4 span{
    color: #7564e5;
}
.dark_bg .single_about h4{
    color: #fff;
}
.dark_bg .about_content_area p{
    color: #fff;
}
.about_details{
    margin-top: 20px;
}
.about_details li{
    color: #333;
    display: inline-block;
    margin-top: 15px;
    width: 49%;
}
.about_details span{
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    width: 25%;
}
.dark_bg .about_details span{
    color: #fff;
}
.ct_about{
    margin: 10px 0;
}
.dark_bg .ct_about{
    color: #fff;
}
.ct_about span i{
    margin-right: 5px;
}
.single_about a i{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}
/* ----------------------------------------------------------------
    [ End About ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 06 Start Service ]
-----------------------------------------------------------------*/
.single-service{
    padding: 40px 30px;
    background: transparent;
    box-shadow: 0px 17px 60px #00000012;
    margin-bottom: 30px;
    transition: all 0.4s ease;
}
.dark_bg .single-service{
    box-shadow: 0px 0px 5px 0px #fff;
}
.single-service:hover{
    transform: scale(1.05);
}
.single-service i{
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #f8f8f8;
    border: 1px solid #eee;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 25px;
    display: inline-block;
    color: #7564e5;
}
.dark_bg .single-service i{
    background: transparent;
}
.single-service:hover i{
    background: #7564e5;
    color: #fff;
    border: 1px solid #7564e5;
}
.single-service h4{
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #222;
    transition: all 0.4s ease;
}
.dark_bg .single-service h4{
    color: #fff;
    font-weight: 500;
}
.single-service p{
    transition: all 0.4s ease;
    color: #333333;
    margin-top: 15px;
}
.dark_bg .single-service p{
    color: #fff;
}
/* ----------------------------------------------------------------
    [ End Service ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 07 Start Cta ]
-----------------------------------------------------------------*/
.cta_section{
    background: url(../images/cta-action.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
.cta_section:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 1, 90, 0.6);
}
.cta_content h3 {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 20px;
}
/* ----------------------------------------------------------------
    [ End Cta ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 08 Start Works ]
-----------------------------------------------------------------*/
.work_filter ul{
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}
.work_filter ul li{
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 25px;
    border: 1px solid #ccc;
    color: #333333;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 0 5px 20px;
    transition: all 0.5s ease-in-out;
}
.dark_bg .work_filter ul li{
    border: 1px solid #7564e5;
    color: #fff;
}
.work_filter ul li:hover{
    border: 1px solid #7564e5;
    background: #7564e5;
    color: #fff;
}
.work_filter .active {
    color: #fff;
    border-color: #7564e5;
    background: #7564e5;
}
.work_content_area .item-img{
    position: relative;
    margin-bottom: 30px;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.item-img:hover{
    transform: scale(1.05);
}
.work_content_area .item-img:hover{
    -webkit-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
}
.work_content_area .item-img:hover .item-img-overlay{
    visibility: visible;
    opacity: 1;
}
.overlay-info{
    margin-top: 50px;
}
.work_content_area .item-img-overlay{
    position: absolute;
    background: rgba(7, 1, 90, 0.6);
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}
.work_content_area .item-img-overlay .icon{
    position: absolute;
    right: 155px;
    bottom: 110px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
/* ----------------------------------------------------------------
    [ End Works ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 09 Start Counter ]
-----------------------------------------------------------------*/

#counter_area{
    background: url(../images/counter.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
#counter_area:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: rgba(7, 1, 90, 0.6);
}
.single_counter span{
    font-size: 38px;
    font-weight: 600;
    color: #7564e5;
}
.single_counter h5{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
}
/* ----------------------------------------------------------------
    [ End Counter ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 10 Start Resume ]
-----------------------------------------------------------------*/
.education-container{
    position: relative;
    display: block;
    margin: 0;
}
.edu-list{
    position: relative;
    display: block;
    margin: 0 50px;
    list-style: none;
}
.edu-list > li{
    background: transparent;
    border: 1px solid #e3e3e3;
    position: relative;
    margin: 0 0 30px;
    padding: 25px 25px 25px 25px;
}
.dark_bg .edu-list > li{
    box-shadow: 0px 0px 5px 0px #fff;
}
.edu-list > li strong{
    color: #7564e5;
    font-size: 14px;
}
.edu-list > li h5{
    font-size: 16px;
}
.dark_bg .edu-list > li h5{
    color: #fff;
}
.dark_bg .edu-list > li p{
    color: #fff;
}
.edu-list > li:not(:last-child)::before{
    content: '';
    position: absolute;
    top: 40px;
    left: -27px;
    width: 3px;
    height: 100%;
    background: #7564e5;
}
.edu-list > li::after{
    content: "\e032";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'et-line';
    background: #7564e5;
    color: #fff;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.experience > li::after{
    content: "\e015";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'et-line';
    background: #7564e5;
    color: #fff;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
/* ----------------------------------------------------------------
    [ End Resume ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 12 Start Blog ]
-----------------------------------------------------------------*/
.single_blog{
    margin-bottom: 30px;
}
.single_blog:hover img{
    -moz-transform: scale(2.01);
    -webkit-transform: scale(2.01);
    transform: scale(2.01);
}
.single_blog .blog-image{
    overflow: hidden;
}
.single_blog img{
    width: 100%;
    border-radius: 3px 3px 0 0;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
}
.blog-thumb{
    background: transparent;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: left;
    margin-bottom: 30px;
}
.blog-thumb small{
    color: #7564e5;
    font-weight: 500;
    display: block;
}
.blog-thumb small .fa{
    margin-right: 5px;
}
.blog-thumb small,
.blog-thumb small + span{
    display: inline-block;
    vertical-align: middle;
}
.blog-thumb small + span{
    color: #777;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 2px;
}
.dark_bg .blog-thumb small + span{
    color: #fff;
}
.blog-thumb h4{
    color: #222;
    padding: 0px;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.dark_bg .blog-thumb h4{
    color: #fff;
}
.dark_bg .blog-thumb p{
    color: #fff;
}
.blog-thumb h4:hover{
    color: #7564e5;
}
.blog-info{
    box-shadow: 0 1px 30px rgba(255, 255, 255, 0.2);
    padding: 20px 30px;
}
.blog-info .blog_btn{
    color: #222;
    font-size: 14px;
    margin-top: 10px;
    text-transform: capitalize;
    background: transparent;
    border: none;
    font-weight: 500;
    transition: all 0.4s ease-in-out 0s;
    padding: 10px 0px;
}
.dark_bg .blog-info .blog_btn{
    color: #fff;
}
.blog-info .blog_btn:hover{
    color: #7564e5;
}
/* ----------------------------------------------------------------
    [ End Blog ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 13 Start Contact ]
-----------------------------------------------------------------*/
.form .form-group input{
    background: transparent;
    border-color: #e3e3e3;
    height: 40px;
    border-radius: 0;
    box-shadow: none;
}
.dark_bg .form .form-group input{
    border-color: #fff;
}
.form .form-group input:focus{
    border-color: #7564e5;
}
.form .form-group textarea{
    background: transparent;
    border-color: #e3e3e3;
    border-radius: 0;
    box-shadow: none;
}
.dark_bg .form .form-group textarea{
    border-color: #fff;
}
.form .form-group textarea:focus{
    border-color: #7564e5;
}
/* ----------------------------------------------------------------
    [ End Contact ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 14 Start Footer ]
-----------------------------------------------------------------*/
.footer{
    padding: 30px 0 20px;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.1);
    background: #24324a;
}
.copy-text p{
    color: #fff;
}
/* ----------------------------------------------------------------
    [ End Footer ]
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    [ 15 Start Top-control ]
-----------------------------------------------------------------*/
.topcontrol{
    background: #7564e5 none repeat scroll 0 0;
    border-radius: 30px;
    bottom: 5px;
    margin-bottom: 80px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 0px 11px;
    position: fixed;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 99;
}
.topcontrol:hover{
    background: #fff;
    color: #7564e5;
}
/* ----------------------------------------------------------------
    [ End Top-control ]
-----------------------------------------------------------------*/
